body{
    font-family: "Poppins", sans-serif;
}
.main-data{
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh
}
.header{
    grid-area: header;
    height: 70px;
    box-shadow: 0px 6px 7px -3px #94a3b8;
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}
.list-item:hover{
    background-color: white;
    cursor: pointer;
}
.chart-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

#chart1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}
#chart2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}
#chart3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}
#chart4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.charts-card{
    background-color: white;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px #94a3b8;
}
.chart-title{
    display: flex;
    align-items: center;
    justify-content: center;
}